/AoC_2_9Grid/nbproject/private/
/AoC_2_9Grid/build/
/AoC_2_9Grid/dist/
/AoC_3/nbproject/private/
/AoC_7/nbproject/private/
AoC_9/input.txt
/AoC_14/nbproject/private/
/AoC_14/build/
/AoC_14/dist/
AoC_16/nbproject/private/private.xml
AoC_17/pseudocode.txt
AoC_18_pseudocode.txt
AoC_20/.Rhistory
AoC_22/build/Debug/MinGW-Windows/main.o